data/cicids2017/* filter=lfs diff=lfs merge=lfs -text
data/cicids2017/friday.parquet filter=lfs diff=lfs merge=lfs -text
data/cicids2017/monday.parquet filter=lfs diff=lfs merge=lfs -text
data/cicids2017/thursday.parquet filter=lfs diff=lfs merge=lfs -text
data/cicids2017/tuesday.parquet filter=lfs diff=lfs merge=lfs -text
data/cicids2017/wednesday.parquet filter=lfs diff=lfs merge=lfs -text
